<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link text-light" aria-current="page" href="/services">SERVICES</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/customer/reviews">CUSTOMER REVIEWS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/professional/register">JOIN AS A PROFESSIONAL</a>
    </li>
    <li class="nav-item">
        <a class="btn-info p-5 text-center text-light" href="/professional/login">Login</a>
    </li>
</ul>
{{#partial "content"}}


    <div class="showcase d-md-flex pt-4 align-items-center">
        <div class="showcase-txt">
            <p class="showcase-txt-lead">Best Cleaners in Kenya </p>
            <p class="showcase-text-follow text-light">
                <i class="far fa-check-circle"></i> Find house cleaning professionals that are fully vetted</br>
                <i class="far fa-check-circle"></i> Browse profiles and genuine client review</br>
                <i class="far fa-check-circle"></i> Choose your preferred cleaner online</br>
                <i class="far fa-check-circle"></i> Get the same cleaner every time</br>
                <i class="far fa-check-circle"></i> Discover happy and motivated local cleaners who are always on time</br>
                <i class="far fa-check-circle"></i> Hire the same professional to do cleaning, housekeeping and/or childcare</br>
                <i class="far fa-check-circle"></i> Book the same person several days per week in real-time</br>
                <i class="far fa-check-circle"></i> Experience great customer service</br>
            </p>
            <div class="pt-4">
                <button class="button"> <a href="/professional/login">Login</a> </button>
                <p class="pt-2 fs-4">Got the skills? <a href="/professional/register" class="text-warning">JOIN AS A PROFESSIONAL</a> </p>
                <p class="pt-2 fs-4">Need the job done? <a href="/client/login" class="text-info"> HIRE A CLEANER</a> </p>
            </div>
        </div>
        <div class="showcase-image">
            <img src="/img/bg.png" height="400" alt="" />
        </div>
    </div>


{{/partial}}
{{> "layout.hbs"}}