{{#partial "content"}}


<div class="container pt-5">

    <div class="col-xs-12 col-md-12 ">
        <h2 class="visible-xs">Benefits of hiring a house cleaner</h2>
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        That’s obvious! Put your feet up whilst someone else does the hard work! Also, your domestic cleaner has years of hands-on experience to deep clean your home to get rid
        of bacteria and dust allergens. A clean house is good for your health.
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        There is also your mental well-being to consider. You get some time back in your life to relax and de-stress. And your tidy house will give you a tidy mind!
    </div>

    <div>&nbsp;</div>
    <div class="col-xs-12">
        On top of all that, your house cleaner knows the tricks and tips to
        make your home sparkle. There is nothing better than coming back to a
        professionally cleaned home.

    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12 col-md-12 ">
        <h2 class="visible-xs">Getting the most from your cleaner</h2>
    </div>
    <div>&nbsp;</div>

    <div class="col-xs-12">
        Communication is the key to getting a great cleaning service. On our App you can leave instructions when you book a cleaner online. We also recommend that you show your cleaner around your
        property so you can explain what house cleaning you’d like them to do.
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        It is always good to tidy up your home before your scheduled clean. You don’t want to waste precious cleaning time! Your housekeeper’s time is best spent doing cleaning tasks rather than picking up clothes or toys or tidying up magazines. This also helps ensure that their
        time does not run out before finishing the cleaning.
    </div>
    <div>&nbsp;</div>

    <div class="col-xs-12 col-md-12 ">
        <h2 class="visible-xs">What to expect from your house cleaner</h2>
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        A sparkling home! You can also expect your cleaner to be trustworthy,
        reliable, punctual and honest.
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        A routine regular cleaning service includes a thorough cleaning of kitchens and bathrooms, vacuuming and
        mopping throughout the house, dusting all surfaces and making beds.
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        You may want some extras like ironing, oven cleaning, fridge cleaning or window cleaning.
        Simply click these options when you book a cleaner through our App.
    </div>
    <div>&nbsp;</div>

    <div class="col-xs-12 col-md-12 ">
        <h2 class="visible-xs">Cleaning equipment and supplies</h2>
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        You will need to provide a vacuum cleaner, mop and bucket. Housekeepers tend to use public transport and
        do not normally bring bulky cleaning equipment.
    </div>

    <div>&nbsp;</div>

    <div class="col-xs-12">
        You will need to provide your house cleaner with
        the following cleaning supplies.
    </div>

    <div>&nbsp;</div>
    <ul>
        <li>Rubber gloves</li>
        <li>Lime scale remover</li>
        <li>Bathroom cleaner</li>
        <li>Kitchen cleaner</li>
        <li>Window cleaner</li>
        <li>Floor cleaner</li>
        <li>Clean sponges and dust cloths (washed in between visits)</li>
        <li>Microfibre cloths (washed in between visits)</li>
    </ul>
    <div class="col-xs-12 p-5">
        You can request the cleaner to bring cleaning supplies by selecting
        that option when booking. There is an additional hourly charge for this service.

    </div>
</div>

{{/partial}}
{{> "layout.hbs"}}