{{#partial "content"}}
    <div class="container">
        <h1 class="success text-color">Success</h1>
        <div class="success-img">
            <img src="/img/success-img.png" height="50px">
        </div>
        <div class="success-btn">
            <a href="/" class="btn btn-outline-success">Go To Home</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}